*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

body {
    background: #01152d;
    color: var(--hover);
    /*font-family: Roboto,sans-serif;*/

}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgba(255, 0, 0, 0.83);
    --text: #fff;
    --hover: #f5d019;
    --font: font-family "Open Sans", sans-serif;
    --bg: linear-gradient(90deg, rgb(236, 182, 10) 0%, rgb(36, 38, 38) 54%, rgb(0, 0, 0) 100%);
}

.main_color {
    color: var(--hover);
}

/* ============================common css end====================== */
/* ============================header css start====================== */
.backIcon {
    display: none;
}

.topicon {
    position: fixed !important;
    height: 40px;
    background: var(--primary) !important;
    z-index: 99999;
    width: 40px;
    bottom: 5%;
    right: 5%;
    transition: all linear 0.3s;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.topicon a {
    font-size: 45px;
    font-weight: 600;
    color: white;
    transition: all linear 0.3s;
}

.stck {
    background: linear-gradient(90deg, rgb(0, 0, 0) 8%, rgba(0, 0, 0, 0.6698880236) 100%, rgba(9, 9, 121, 0.0144258387) 100%) !important;
    position: fixed;
    z-index: 999;
    width: 100%;
    backdrop-filter: blur(2px);
}


#nav {
    background: var(--bg);

}

#nav .manu_icon {
    cursor: pointer;
}

#nav .manu_icon .bars .line {
    width: 30px;
    height: 3px;
    background: rgb(250, 250, 250);
    margin: 6px 0;
    display: none;
}

#nav .manu_icon .crose {
    display: none;
    position: relative;
}

#nav .manu_icon .crose .line {
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    width: 30px;
    height: 3px;
    background: rgb(250, 250, 250);
    margin: 6px 0;
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#nav .manu_icon .crose .line:nth-child(2) {
    position: absolute;
    left: 0;
    top: -6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#nav .header {
    cursor: none;
    display: flex;
    justify-content: space-between;
}

#nav .header .main_menu {
    z-index: 999;

}

#nav .header .main_menu ul {
    display: flex;
    cursor: none;
}

#nav .header .main_menu ul li {
    position: relative;
    line-height: 77px;
    padding: 0 35px;
    transition: all linear 0.3s;
    cursor: none;
}

#nav .header .main_menu ul li:hover {
    color: #1e1e2b;
    transition-delay: 0s;
}

#nav .header .main_menu ul li a {
    cursor: none;
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font), serif;
    text-transform: uppercase;
    padding: 0 10px;
}

#nav .header .main_menu ul li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--hover);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#nav .header .main_menu ul li:last-child {
    padding: 0 10px;
}

#nav .header .main_menu ul li:hover a {
    color: var(--hover);
}

#nav .header .main_menu ul li:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform-origin: bottom left;
}

#nav .logo {
    width: 250px;
    max-width: 100%;
    padding: 10px 0;
}

/* From Uiverse.io by elijahgummer */
.button {
    cursor: pointer;
    position: relative;
    padding: 15px 20px;
    text-decoration: none;
    border: none;
    font-weight: 600;
    color: var(--hover);
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent
    );
    transition: 0.5s;
    transition-delay: 0.5s;
}

.button:hover:after {
    left: 100%;
}

.button span {
    position: absolute;
    display: block;
    transition: 0.5s ease;
}

.button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--hover);
}

.button:hover span:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
}

.button span:nth-child(2) {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: var(--hover);
}

.button:hover span:nth-child(2) {
    height: 100%;
    transform: translateY(100%);
}

.button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--hover);
}

.button:hover span:nth-child(3) {
    width: 100%;
    transform: translateX(-100%);
}

.button span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: var(--hover);
}

.button:hover span:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
}

/*===============================hero================================*/
.Hero_text {
    padding: 10rem 0;

    h1 {
        font-size: clamp(1.5rem, 4vw, 5rem);

        .main_color {
            font-weight: 900;
            text-transform: capitalize;
        }
    }
}

.Hero_image {
    position: relative;
    width: 35rem; /* Set the width of the image */
    height: 50rem; /* Set the height of the image */
    object-fit: contain; /* Crops the image to cover the container, maintaining aspect ratio */
    filter: drop-shadow(0px 0px 40px rgba(95, 0, 255, 0.43));
}

.Hero_image .img_bg {
    width: 40rem;
    background: var(--hover);
    transform: scale(1);
    position: absolute;
    bottom: 0;
    right: -2%;
    z-index: -1;

    transition: 1s ease;
    height:45rem;
    border-radius: 10% 10% 10% 10%;
    background: transparent;
    border-bottom: 2px solid var(--hover);
    border-right:0;
    border-left: 0;
    border-top: 2px solid transparent;

}





/*=====================================blog============================*/
.main_title{
    padding: 10rem 0;
    text-align: center;
   h1{
       font-size: 3rem;
       text-transform: uppercase;
       font-weight: 600;
       border-bottom: 1px solid rgba(245, 208, 25, 0.47);
       padding-bottom: 2rem;
   }
}






















































































/*==============================footer=============================*/
.footer-main {
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}

.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}

.add-icon {
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}

.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}

.add-icon img {
    width: 100%;
}

.address-box .add-icon img {
    max-width: 40px;
}

.add-content {
    padding-left: 70px;
}

.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}

.add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}

.add-content p a:hover {
    color: #ffb32d;
}

.footer-main {
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}

.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}

.add-icon {
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}

.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}

.add-icon img {
    width: 100%;
}

.address-box .add-icon img {
    max-width: 40px;
}

.add-content {
    padding-left: 70px;
}

.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}

.add-content p a {
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}

.add-content p a:hover {
    color: #ffb32d;
}